.cabecalho {
    width: 468px;
    height: 149px;
    background-color: #6BA5DB;
}

.primeirasecao {
    width: 468px;
    height: 664px;
    background-color: purple;

}

.retangulo {
    width: 468px;
    height: 114px;
    background-color: greenyellow;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.rodape {
    width: 468px;
    height: 32px;
    background-color: blue;
}

.tamanhoimagem {
    width: 119px;
    height: 119px;
}